:root {
    --primary: #5f5450;
    --secondary:#eace98;
    --tertiary: #dfd4cc;
}

* {
    background: var(--tertiary);
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 72px;
    color: var(--primary);
}